<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.richprinters">

    <application
        android:name="${applicationName}"
        android:label="rich_printers"
        android:icon="@mipmap/ic_launcher">
        
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true"> <!-- Specify exported attribute -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
